

section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



main {
  max-width: 20em;
  width: 100%;
}

header {
  margin-bottom: 3rem;
}

.row {
  display: flex;
}
.spacing {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.details {
  display: flex;
  flex-direction: column;
}

input {
  flex: 1;
}

small {
font-size: 8px;
}

h5 {
  margin: 0;
}

button {
  min-width: 5rem;
  background-color: rgb(80, 106, 183);
  padding: 10px;
  margin: 0 10px;
  border: none;
  border-radius: 2rem;
  color: white;
}